{% extends 'template.twig' %}

{% block body %}
    <h1>{{ list.name }}</h1>
    <table class="table">
        <thead>
        <tr>
            {% for column in list.columns %}
                <th>{{ column.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for column in list.columns %}
                    <td>{{ formatter.format(column.value.__invoke(entity)) ?? 'Unsupproted value' }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
